*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-image: linear-gradient(to right, rgb(0,9,48), rgb(0,68,131));
}
h1{
    color: white;
    text-align: center;
    margin: 20px 0px 80px 0px;
    font-size: 50px;
    font-weight: bold;
    padding: 0px 20px;
}